.applikation-container {
  line-height: 2.4rem;
}

hr {
  margin-top: 32px;
  margin-bottom: 32px;
  border: 1px solid;
}

.applikation-container {
  :deep() {
    .gm-navigation {
      flex-direction: row-reverse;
      justify-content: flex-end;

      .button-secondary {
        margin-left: 0;
      }
    }
    .gm-afvikler {
      font-size: 14px;
    }
    .gm-handlings-link {
      display: flex;
      max-width: fit-content;

      flex-direction: row-reverse;
      align-items: center;
    }

    .gm-svarmuligheder label .gm-tekst {
      font-size: 16px;
    }

    .gm-uddybende-vejledning-container summary {
      font-size: 20px;
    }
  }
}
