@use '@erst-vg/vg-design-wrapper/styles/utility' as *;

.custom_multiselect {
  font-size: 1em;

  :deep() {
    .multiselect {
      max-width: none !important;

      &__content-wrapper > ul li:before {
        content: '';
      }

      &__element {
        padding-left: 0px;
      }

      &__option {
        margin-left: 0px;
      }

      &__option--highlight {
        background-color: $primary-lightest;
        color: $color-black;

        .checkbox_label {
          text-decoration: underline;
        }
      }

      &__option--disabled {
        background-color: $color-white !important;
        font-size: 0.875em;
        line-height: 1;
        min-height: unset;
      }

      &__option--selected {
        color: $font-color;
      }

      &__tag {
        font-weight: normal;
        line-height: 1.8;
        border-radius: 12px;
        color: $color-white;
        padding: 0;
        background-color: var(--site-primary-darkest);
        margin-right: 8px;
        margin-bottom: 8px;
        display: inline-flex;
        cursor: pointer;
        overflow: visible;

        .button-text {
          padding: 0 6px 0 12px;
          border-right: 1px solid $color-white;
          height: 100%;

          @include media-breakpoint-down(sm) {
            max-width: calc(100% - 24px);
            overflow-wrap: break-word;
            white-space: normal;
          }
        }

        .button-icon {
          height: 100%;
          padding: 0 6px 0 4px;
          display: flex;
          align-items: center;
          align-self: center;

          .icon-svg {
            height: 1em;
            width: 1em;
          }
        }

        &:hover {
          background-color: $color-tag-text;
        }
      }

      &__tag-icon {
        background-color: $color-white;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        margin: 4px;
      }

      &__tag-icon:hover {
        background-color: $color-white;
      }

      &__tag-icon:hover::after {
        color: $color-redaktion-menu-item;
      }

      &__tag-icon::after {
        color: $color-redaktion-menu-item;
        position: absolute;
        top: -4px;
        left: 3px;
      }

      /* XXX: TBH - Skjuler den indbyggede pil fra vue-multiselect, men gør det stadig muligt at trykke på den,
    da pil på .multiselect__tags ligger lige oveni. */
      &__select {
        opacity: 0;
      }

      &__tags {
        font-size: 0.875em;
        border: 1px solid $menu-color;
        background: unset;
        // XXX: TBH - Følgende styling kommer fra designsystemets klasse .form-select, da det ikke var muligt at angive denne klasse programmatisk.
        background-color: $color-white;
        background-image: url('data:image/svg+xml,%3C%3Fxml version=%271.0%27 encoding=%27UTF-8%27%3F%3E%3C%21DOCTYPE svg PUBLIC %27-//W3C//DTD SVG 1.1//EN%27 %27http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%27%3E%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 xmlns:xlink=%27http://www.w3.org/1999/xlink%27 version=%271.1%27 width=%2724%27 height=%2724%27 viewBox=%270 0 24 24%27%3E%3Cpath d=%27M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z%27 /%3E%3C/svg%3E');
        background-position: calc(100% - 10px);
        background-repeat: no-repeat;
      }
    }
  }
}
