@use '@erst-vg/vg-design-wrapper/styles/utility' as *;

// Eksempel på brug af den tilgængelige media query mixin til håndtering af styles for forskellige breakpoints.
.responsive-class {
  color: white;
  padding: 24px;

  @include media-breakpoint-down(sm) {
    background-color: $color-green;
  }

  @include media-breakpoint-up(md) {
    background-color: $color-red;
  }

  @include media-breakpoint-up(lg) {
    background-color: $color-blue;
  }
}
